*{
	margin: 0px;
	padding: 9px;
}
h1{
	text-align: center;
	font-size: 35px;
}
body{
	background-color:darkgrey ;
}
.singup{
	width: 360px;
	height: 620px;
	margin: auto;
	background-color: white;
	border-radius: 3px;
}
.login{
	width: 1220px;
	height: 270px;
	margin:auto;
	background-color: white;
	border-radius: 3px;

}
[input="submit"]{
	text-align: center;
	
}
.team{
	font-size: 149%;
	font-family: popins;
	background-color: #eee5e5;
	width: 98%;

}

.team input{
font-size: 13px;
padding: 9px 9px;
width: 94%;
}

.prp input{
	background-color: aqua;
	color: #000;
	width: 98%
}
.log{
	width: 94%;
	padding: 9px 9px;
	font-size: 13px;
	background-color: #eee5e5;


}
.rts input{
	text-align: center;
	width: 50px;
}